@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header{
    padding: 51px 0 54px;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu{
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 33px;
    }
    &__list-link{
        color: #436372;
        font-size: 15px;
        line-height: 12px;
        @extend %rubik-500;
    }
}

.user-nav__list{
    display: flex;
    &-search{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #edf1f4;
        padding: 18px;
        border-radius: 50%;
        margin-right: 21px;
    }
    &-heart,
    &-cart{
        position: relative;
        background-color: #fcd7b6;
    }
    &-heart{
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        padding: 22px 30px 12px 41px;
    }
    &-cart{
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        padding: 21px 42px 13px 27px;
        &::before{
            content: '';
            position: absolute;
            height: 32px;
            width: 1px;
            color: #fde7d3;
            z-index: 2;
            top: 12px;
            left: 0px;
        }
    }
    &-matrix{
        background-color: $main;
        padding: 15px;
        border-radius: 50%;
        margin-left: 18px;
    }

    .user__num-heart,
    .user__num-cart{
        position: absolute;
        width: 16px;
        height: 16px;
        color: $title;
        background-color: #fff;
        text-align: center;
        border-radius: 50%;
        font-size: 10px;
        line-height: 18px; 
    }

    .user__num-heart{
        top: 12px;
        right: 21px;
    }

    .user__num-cart{
        top: 13px;
        right: 28px;
    }
}    
   

    
.footer-top{
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dae4e9;
    &__contact{
        max-width: 200px;
    }
    &__logo{
        display: block;
        margin-bottom: 30px;
    }
    &__adress,
    &__phone,
    &__email,
    &__list-link{
        display: inline-block;
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 24px;
        @extend %rubik-400;
        color: $default;     
    }
    &__title{
        padding-top: 20px;
        margin-bottom: 25px;
        text-transform: uppercase;
        @extend %dm-700;
        font-size: 16px;
        color: #1f2044;
    }
    &__item-form{
        max-width: 270px;
    }
    &__form-text{
        font-size: 14px;
        line-height: 24px;
        @extend %rubik-400;
        color: $default;   
        margin-bottom: 35px;
    }
    &__form-input{
        width: 170px;
        border: none;
        background-color: #fef7f0;
        padding: 13px 13px;   
        &::placeholder{
            font-size: 12px;
            color: #234969;
        }
    }
    &__btn{
        font-size: 14px;
        border: none;
        cursor: pointer;
        color: #fff;
        background-color: $main;
        text-align: center;
        padding: 13px 13px;
        margin-left: -5px;
    }

}

.footer-bottom{
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    &__link,
    &__copy{
        font-size: 14px;
        line-height: 32px;
        @extend %rubik-400;
        color: $default; 
    }
    span{
        margin: 0 18px;
    }
}

.top-slider{
    &__inner{      
        padding: 225px 0 46px;
        background-image: url('../images/slider-bg.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; 

    }
    &__slider-slick{
        padding-bottom: 207px;
    }
    &__img{
        display: block;
        width: 640px;
    }
    &__item{
        display: flex !important;
        justify-content: space-between;
        align-items: flex-end;  
    }
    &__item-title{
        @extend %rubik-500;
        font-size: 72px;
        line-height: 70px;
        color: #243f4d;
        margin-bottom: 28px;
    }
    &__item-text{
        max-width: 370px;
        margin-bottom: 40px;
        @extend %rubik-400;
        font-size: 18px;
        line-height: 30px;
        color: #436372;
    }
    &__item-link{
        display: inline-block;
        font-size: 15px;
        line-height: 12px;
        @extend %rubik-500;
        padding: 25px 100px 20px 28px;
        border: none;
        cursor: pointer;
        background-color: $main;
        color: #fff;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 22px;
            height: 9px;
            background-image: url('../images/icons/right-arrow.svg');
            background-repeat: no-repeat;
            right: 17px;
            top: 48%;
        }
    }
}

.slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 207px;
    li{
        & + li{
            margin-left: 10px;
        }       
        button{
            width: 29px;
            height: 29px;
            border-radius: 50%;
            border: none;
            color: #667983;
            background-color: #fde3cc;
        }
    }
    .slick-active{
        button{
            background-color: #fff;
        }
    }
}

.top-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0;
    background-color: #fef7f0;
    &__item + .top-info__item {
        border-left: 1px solid #e8e4df; 
    }
    &__item-inner{
        width: 280px;
        margin: 0 auto;
        padding: 45px 0;
        display: flex;
        justify-content: space-between;             
    }
    &__item-title{
        @extend %dm-700;
        font-size: 18px;
        color: #414141;
        margin-bottom: 10px;
    }
    &__item-text{
        line-height: 30px;
        color: #585858;
    }
    &__img{
        padding-right: 5px;
        margin-right: 25px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 20px;
            height: 21px;
            background-color: #dfe3e2;
            opacity: 0.5;
            border-radius: 50%;
        }
    }
    &__img-time::after{
        bottom: 35px;
        right: 5px;
    }
    &__img-truck::after{
        bottom: 53px;
        right: 0;
    }
    &__img-safe::after{
        bottom: 35px;
        right: 0;
    }
}

.title{
    font-size: 36px;
    @extend %dm-700;
    color: $title;
    text-align: center;
    margin-bottom: 35px;
}

.products{
    padding: 75px 50px;
    &__top{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
    }
    &__btn{
        background-color: transparent;
        border: none;
        cursor: pointer;
        @extend %dm-700;
        color: $default;
        padding: 0;
        & + .products__btn{
            margin-left: 30px;
        }
    }
    .mixitup-control-active{
        color: $title;
    }
    &__items{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 30px;
    } 
}

.product-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 270px;
    padding: 30px 5px 40px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    overflow: hidden;
    margin-bottom: 40px;
    &:hover{
        .product-item__link-box{
            transform: translateY(-200%);
            bottom: auto;
        }
    }
    &__img-box{
        height: 220px;
        min-width: 155px;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            display: block;
        }
    }
    &__title{
        @extend %dm-500;
        color: #243f4d;
        margin-bottom: 15px;
    }
    &__price{
        color: $main;
        @extend %dm-700;
        text-align: center;
    }
    &__link-box{
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(400%);
    }
    &__box-link{
        width: 45px;
        height: 45px;
        display:flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: #fff;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        border-radius: 50%;
        transition: all .3s;
        & + .product-item__box-link{
            margin-left: 15px;
        }
        &:hover{
            background-color: $main;
            path{
                fill: #fff;
            }
        }
    }
}











@import 'media';
