.header{
    padding: 51px 0 54px;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu{
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 33px;
    }
    &__list-link{
        color: #436372;
        font-size: 15px;
        line-height: 12px;
        @extend %rubik-500;
    }
    &__btn{
        display: none;
    }
}

.user-nav{       
    display: flex;
    &__item{
        display: flex;
        justify-content: center;
        align-items: center;  
    }
    &__link{
        display: inline-block;
    }
    &__search{
        width: 51px;
        height: 51px; 
        border-radius: 50%;
        background-color: #edf1f4;
        margin-right: 20px;
    }
    &__item-wrapper{
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
        background-color: #fcd7b6;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 51px;
        padding: 0 15px 10px;
    }
    &__heart,
    &__cart{
        position: relative; 
        padding: 0 20px;    
    }
    &__heart::after{
        content:'';
        position: absolute;
        width: 1px;
        height: 32px;
        background-color: #fde7d3;
        right: 0;
        top: -10px;
        z-index: 99999999;
    }
   
    &__matrix{
        width: 51px;
        height: 51px; 
        border-radius: 50%;
        background-color: $main;
        margin-left: 20px;
    }
    &__num-heart,
    &__num-cart{
        position: absolute;
        width: 16px;
        height: 16px;
        color: $title;
        background-color: #fff;
        text-align: center;
        border-radius: 50%;
        font-size: 10px;
        line-height: 18px; 
        top: -7px;
        right: 10px;
    }  
}

@media (max-width: 1050px){
    .menu{
        order: 1;
        margin-left: 40px;
        &__list{
            transform: translateY(-200%);
            transition: all .5s;
            position: absolute;
            top: 150px;
            background-color: #fff;
            left: 0;
            width: 100%;
            flex-direction: column;
            align-items: center;
            z-index: 5;
            &.menu__list--active{
                transform: translateY(0%);
                transition: all .5s;
            }
        }
        &__list-item + .menu__list-item{
            padding-left: 15px;
        }
        &__list-item{
            width: 100%;
            padding: 0 15px;
            text-align: center;
            border-bottom: 1px solid $title;
        }
        &__list-link{
            display: block;
            padding: 15px 0;
            width: 100%;
        }
        &__btn{         
            padding: 0;
            width: 30px;
            height: 21px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            &::after,
            &::before{
                content: '';
                position: absolute;
                background-color: #243f4d;
                width: 100%;
                height: 3px;
            }
            &::after{
                bottom: 0;
            }
            &::before{
                top: 0;
            }
            span{
                background-color: #243f4d;
                width: 100%;
                height: 3px;
                
            }
        }
    }
    .user-nav{
        margin-left: auto;
    }
}

@media (max-width: 600px){
    .header{
        &__inner{
            flex-wrap: wrap;
        }
    }
    .menu{
        order: 0;
        &__list{
            top: 200px;
        }
    }
    .user-nav{
        width: 100%;
        justify-content: flex-end;
        margin-top: 35px;
    }
}

@media (max-width: 350px){
    .user-nav{
        &__matrix{
            margin-left: 10px;
        }
        &__search{
            margin-right: 10px;
        }
    }
}