.login{
    padding-bottom: 120px;
}
.login-form{
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
    &__label{
        display: block;
        @extend %rubik-400;
        font-size: 14px;
        color: #436372;
    }
    &__input-name,
    &__input-password{
        display: block;
        width: 100%;
        height: 60px;
        border: 1px solid #f6f6f6;
        margin-top: 10px;
        padding: 15px;
    }
    &__input-name{
        margin-bottom: 30px;
    }
    &__input-password{
        margin-bottom: 35px;
    }
    &__btn-login{
        height: 60px;
        width: 100%;
        text-align: center;
        margin-bottom: 35px;
        border: none;
        cursor: pointer;
        color: #fff;
        background-color: $main;
    }
    &__box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 35px;
        border-bottom: 1px solid #f6f6f6;
        margin-bottom: 35px;
    }
    &__error{
        @extend %rubik-400;
        font-size: 14px;
        color: #436372;
    }
    &__registration{
        text-align: center;
        @extend %rubik-400;
        font-size: 14px;
        color: #436372;
        
    }
    &__registration__link{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        @extend %rubik-500;
        color: $accent;
        font-size: 18px;
        border: 2px solid $accent;
    }
}

@media (max-width: 600px){
    .login{
        padding-bottom: 60px;
    }
}