.new-design{
    padding-bottom: 90px;
    &__items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
    }
    &__item{
        padding: 40px 35px;
        width: 370px;
        height: 245px;
        margin-bottom: 30px;
    }
    &__item-link{
        display: inline-block;
        margin-bottom: 20px;
    }
    &__item-title{
        @extend %dm-700;
        font-size: 20px;
        color: $title;      
        max-width: 170px;
    }
    &__item-category{
        color: $main;
        @extend %dm-700;
    }
}