.partners{
    padding: 90px 0;
    background-color: #fef7f0;
    &__list{
       display: flex;
       justify-content: space-around;
       align-items: center; 
       flex-wrap: wrap;
    }
}

@media (max-width: 1250px) {
    .partners{
        padding: 60px 0;
        margin-top: 20px;
        &__item + .partners__item{
            margin-left: 20px;
        }
        &__item{
            margin-bottom: 20px;
        }
    }
}