.team{
    padding: 120px 0 75px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__inner-about{
        max-width: 300px;
        color: $accent;
    }
    &__about-title{
        @extend %dm-700;
        font-size: 36px;
        margin-bottom: 30px;
    }
    &__about-text{
        line-height: 30px;
        margin-bottom: 30px;
    }
    &__about-link{
        background-color: $main;
        color: #fff;
        font-size: 15px;
        @extend %pop-700;
        padding: 17px 70px 17px 20px;
        border-radius: 5px;
        position: relative;
        &::after{
            content:'';
            position: absolute;
            width: 22px;
            height: 9px;
            background-image: url('../images/icons/right-arrow.svg');
            right: 22px;
            bottom: 20px;
        }
    }
    &__cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
    }
    &__member{
        margin-bottom: 100px;
    }
    &__member-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 28px 25px;
        width: 325px;
        height: 110px;
        margin-top: -48px;
        background-color: #fff;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
        position: absolute;
        z-index: 10;     
    }
    &__member-img{
        display: block;
        width: 370px;
        height: 320px;
        object-fit: cover;
        position: relative;
        z-index: 1;
    }
    &__member-name{
        font-size: 22px;
        @extend %dm-700;
        color: $accent;
        margin-bottom: 20px;
    }
    &__member-position{
        color: #565872;
        @extend %rubik-400;
    }
    &__member-socials{
        display: flex;
    }
    &__socials-link{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        border-radius: 50%;
        background-color: #f6f6f6;
        width: 42px;
        height: 42px;
    }
}