.top-mixer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    &__btn{
        background-color: transparent;
        border: none;
        cursor: pointer;
        @extend %dm-700;
        color: $default;
        padding: 0;
        & + .top-mixer__btn{
            margin-left: 30px;
        }
    }
    .mixitup-control-active{
        color: $title;
    }
}

.products{
    padding: 75px 50px;
    &__items{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 30px;
    } 
}
.product-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    padding: 30px 5px 40px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    overflow: hidden;
    margin-bottom: 40px;
    &:hover{
        .product-item__link-box{
            transform: translateY(-200%);
        }
    }
    &__img-box{
        height: 220px;
        min-width: 155px;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            display: block;
        }
    }
    &__title{
        @extend %dm-500;
        color: $accent;
        margin-bottom: 15px;
    }
    &__price{
        color: $main;
        @extend %dm-700;
        text-align: center;
    }
    &__link-box{
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(400%);
        transition: all .5s;
    }
    &__box-link{
        width: 45px;
        height: 45px;
        display:flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: #fff;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        border-radius: 50%;
        transition: all .3s;
        & + .product-item__box-link{
            margin-left: 15px;
        }
        &:hover{
            background-color: $main;
            path{
                fill: #fff;
            }
        }
    }
}